[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/package"]
	path = site-lisp/package
	url = https://github.com/zenspider/package.git
[submodule "site-lisp/structured-haskell-mode"]
	path = site-lisp/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el
[submodule "site-lisp/ghc-mod"]
	path = site-lisp/ghc-mod
	url = https://github.com/kazu-yamamoto/ghc-mod.git
[submodule "site-lisp/hdevtools-emacs"]
	path = site-lisp/hdevtools-emacs
	url = https://github.com/lightquake/hdevtools-emacs.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
