[submodule "emacs-modes/cedet"]
	path = emacs-modes/cedet
	url = https://github.com/emacsmirror/cedet.git
[submodule "snippets/backbone-underscore-snippets"]
	path = snippets/backbone-underscore-snippets
	url = git@github-kototama:kototama/backbone-underscore-snippets.git
[submodule "emacs-modes/slime"]
	path = emacs-modes/slime
	url = https://github.com/technomancy/slime.git
[submodule "emacs-modes/helm"]
	path = emacs-modes/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "emacs-modes/nrepl"]
	path = emacs-modes/nrepl
	url = https://github.com/kingtim/nrepl.el.git
[submodule "emacs-modes/nrepl.el"]
	path = emacs-modes/nrepl.el
	url = https://github.com/kingtim/nrepl.el.git
